/*winterColors*/
@winterHead: #44465D;
@winterAction: #BCB26F;
@winterActionShade: #81783C;
@winterActionDark: #5E5937;
@winterBack: #F3F1F2;
@winterBody: #EAE6E3;
@winterPopup: #B2AEAC;

#winter {
	.winterHead {background-color: @winterHead;}
	.winterAction {background-color: @winterAction;}
	.winterActionShade {background-color: @winterActionShade;}
	.winterActionDark {background-color: @winterActionDark;}
	.winterBack {background-color: @winterBack;}
	.winterBody {background-color: @winterBody;}
	.winterPopup {background-color: @winterPopup;}
}

/*springColors*/
@springHead: #78be20;
@springAction: #13addd;
@springActionShade: #0f88ae;
@springActionDark: #666666;
@springBack: #f1ff81;
@springBody: #d7ffb7;
@springPopup: #99fff7;

/*summerColors*/
@summerHead: #ff6933;
@summerAction: #63acc1;
@summerActionShade: #55889f;
@summerActionDark: #55889f;
@summerBack: #f4e89c;
@summerBody: #faffa9;
@summerPopup: #ff9e00;

/*autumnColors*/
@autumnHead: #4A4132;
@autumnAction: #BB9229;
@autumnActionShade: #8C6D1E;
@autumnActionDark: #4A4132;
@autumnBack: #FFF8E7;
@autumnBody: #B2AB8E;
@autumnPopup: #322C0F;
